{{#if model}}
  <table class="table">
    <thead>
    <th>Name</th><th>Menu</th><th>Visited</th><th>Vote</th>
    </thead>
    <tbody>
    {{#each arrangedContent}}
      {{partial 'vote-partial'}}
    {{/each}}
    </tbody>
  </table>
{{else}}
  <p>Sorry no fixtures found for restaurants</p>
{{/if}}