<h3>Add a new Restaurant</h3>
 <div class="form">
   {{input type="text" value=newName placeholder="Restaurant Name"}}
   {{input type="text" value=newMenu placeholder="copy and paste a url to a menu"}}
   <button {{action 'createNewRestaurant'}}>Create Restaurant</button>
 </div>
